<div id="schedule-game-button" >
  <%= link_to "Schedule a Game",
      new_court_meetup_path(@court),
      class: "button round expanded" %>
</div>

<% if @meetups_today.empty? && @meetups_this_week.empty? %>
  <h5>No games scheduled for this week</h5>
<% end %>

<% unless @meetups_today.empty? %>
  <h5>Games today:</h5>
  <ul>
    <% @meetups_today.each do |meetup| %>
      <%= render "meetup_details", meetup: meetup, time_string: '%l:%M %P' %>
    <% end %>
  </ul>
<% end %>

<% unless @meetups_this_week.empty? %>
  <h5>Later this week:</h5>
  <ul>
    <% @meetups_this_week.each do |meetup| %>
      <%= render "meetup_details", meetup: meetup, time_string: '%a. %m/%d, %l:%M %P' %>
    <% end %>
  </ul>
<% end %>
