<div id="title-box" class="small-11 small-centered columns">
  <h1>Welcome to Pickup Nation</h1>
  <h4>Let's see who's playing!</h4>
</div>

<div id="page-content" class="small-11 small-centered columns">
  <%= render "layouts/search" %>
</div>
