<div id="title-box" class="small-11 small-centered columns">
  <h1 id="title-text">Welcome to PickupNation</h1>
</div>

<div id="page-content" class="small-11 small-centered columns">
  <%= render "layouts/search" %>
</div>
