.courts-container {
  margin-top: 20px;
  padding-left: 15px;
}

#indexMap {
  height: 275px;
  width: 100%;
  min-width: 220px;
  max-width: 350px;
}

.index-map-container {
  padding-top: 25px;
}
.index-container {
  padding-top: 15px;
}

.listed-court {
  padding-bottom: 10px;
}
