$oil: #333333;
$gainsboro: #DDDDDD;

.top-bar {
  text-shadow: 0.5px 0.5px 1px #333333;
}

.alert-box {
  text-align: center;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border: 1px solid $oil;
  box-shadow: 1px 1px 1px $oil;
  margin: 0px 5px 3px 8px;
  background-color: $gainsboro;
}

nav {
  box-shadow: 0px 5px 10px $oil;
}

.pagination {
  box-shadow: none;
}

.admin-info {
  color: white;
  font-style: italic;
  font-size: 11pt;
  padding: 7px 0px;
  text-align: center;
}
