.meetup-day-form {
  width: 200px;
}

.meetup-hour-form {
  width: 75px;
  display: inline-block;
}

.meetup-minute-form {
  width: 60px;
  display: inline-block;
}

.meetup-description-form {
  max-width: 250px;
  height: 60px;
}

.submit-meetup-button {
  margin-top: 30px;
}
