<%= form_tag(courts_path, :method => "get") do %>
  <div class="row">

    <div class="search-form medium-4 columns">
      <div class="row">
        <div class="search-label medium-8 columns">
          Show courts within
        </div>
        <div class="medium-4 columns">
          <%= select_tag :range,
              options_for_select([5, 10, 15, 20], @range),
              id: "range-box" %>
        </div>
      </div>
    </div>

    <div class="search-form medium-5 columns">
      <div class="row">
        <div class="search-label medium-3 columns">
          miles of
        </div>
        <div class="medium-9 columns">
          <%= text_field_tag :location,
              params[:location],
              id: "location-box",
              value: @query_location,
              placeholder: "Location",
              required: true,
              id: "location-box" %>
        </div>
      </div>
    </div>

    <div class="search-button-container medium-3 columns">
      <button id="search-button">Discover!</button>
    </div>
  </div>
<% end %>
